# IDE
.vscode
.DS_Store

# Python
*.pyc
__pycache__
*egg-info
*.whl

# Virtual Environment
.testvenv
python_env
.venv*
.workflow_venvs*

# persistent storage volume
persistent_volume

# logs
workflow_logs
release_logs

# Output Files
*netlist.yaml
*.dump
*.log
docs/build
.hlkc_cache
tt_build
generated_modules
*.ipynb
*_params.pt
*.json
*.jsonl
*.pt
*.tti
*.txt
unzipped_tti/
db.sqlite3

# secrets
.env

# example data
scripts/examples/example_data

# unignore
!requirements*.txt
!workflows/model_performance_reference.json
!tests/server_tests/test_config.json
!tests/server_tests/server_tests_config.json
!tests/server_tests/test_suites/*.json
!benchmarking/benchmark_targets/*.json
!model_specs_output.json
!tt-media-server/static/demos/images.json

venv*/**
tt-media-server/venv-worker
tt-media-server/huggingface

*.tensorbin
*.log
