# IDE
.vscode
.DS_Store

# Python
*.pyc
__pycache__
*egg-info
*.whl

# Virtual Environment
.testvenv
python_env
.venv*
.workflow_venvs*

# persistent storage volume
persistent_volume

# logs
workflow_logs

# Output Files
*netlist.yaml
*.dump
*.log
docs/build
.hlkc_cache
tt_build
generated_modules
*.ipynb
*_params.pt
*.json
*.jsonl
*.pt
*.tti
*.txt
unzipped_tti/
db.sqlite3

# secrets
.env

# unignore
!requirements.txt
!requirements-dev.txt
!requirements-test.txt
!workflows/model_performance_reference.json
!benchmarking/benchmark_targets/*.json
