repos:
- repo: local
  hooks:
    # Run the linter.
    - id: ruff
      name: ruff
      entry: bash -c 'source .pre-commit/bin/activate && ruff check "$@"' --
      language: system
      types: [python]
    # Run the formatter.
    - id: ruff-format
      name: ruff-format
      entry: bash -c 'source .pre-commit/bin/activate && ruff format "$@"' --
      language: system
      types: [python]

- repo: local
  hooks:
    - id: pytest
      name: pytest
      entry: bash -c 'source .pre-commit/bin/activate && pytest'
      language: system
      pass_filenames: false
      always_run: true
