aiohttp
asyncio
colorama
fastapi
faster_fifo
httpx
huggingface_hub
imageio-ffmpeg
loguru
prometheus-client
prometheus-fastapi-instrumentator
psutil
pydantic-settings
pytest
pytest-asyncio
python-multipart
opencv-python-headless==4.8.1.78
silero_vad
tqdm
uvicorn
whisperx
--extra-index-url https://download.pytorch.org/whl/cpu
