fastapi
uvicorn
pydantic
pytest
httpx
python-multipart
asyncio
torch
diffusers
pybind11
pydantic_settings
colorama
loguru

## forge
--extra-index-url https://pypi.eng.aws.tenstorrent.com
tt-forge-fe==0.3.0.dev20250808
tt-tvm==0.3.0.dev20250808
