# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: © 2026 Tenstorrent USA, Inc.
# Google C++ style — mirrors tt-media-server/cpp_server/.clang-format
BasedOnStyle: Google
Language: Cpp
Standard: c++20
