--extra-index-url https://pypi.eng.aws.tenstorrent.com
tt-forge==0.9.0
torchvision

tabulate
timm # input preprocessing
flax # input preprocessing
pytorchcv # for vovnet
tabulate

diffusers==0.37.1
transformers

datasets # model training
peft # model training
